.comment-tbl {
    table-layout: fixed;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    border: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
    background: #4a93d9;
    color: #fff;
    width: 100%;
}

.news-header {
    margin-left: 225px;
    position: fixed;
    font-size: 50px;
    color: #000;
    transition: 0.15s;
}

.news-header:hover {
    color: #a7c8ff;

}

.create-article-tbl {
    padding-bottom: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.article-list-tbl {
    table-layout: fixed;
    border: black;
    width: 70%;
    margin-bottom: 20px;
    text-overflow: ellipsis;
}

.article-tbl {
    table-layout: fixed;
    margin-bottom: 40px;
}

.create-author-tbl {
    border: black;
}

a {
    text-decoration: none;
}

body {
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
}

p {
    color: #000;
}

.delete-btn {
    color: #666666;
    transition: 0.15s;
}

.delete-btn:hover {
    color: red;
}

.update-btn {
    color: #666666;
    transition: 0.15s;
}

.update-btn:hover {
    color: blue;
}

.title-link {
    transition: 0.15s;
    height: 90px;
    overflow: hidden;
}

.title-link:hover {
    color: #a256ab;
}

.comment-text-place {
    height: 165px;
    resize: none;
    width: 100%;
    color: #000;
}

.article-title-place {
    resize: none;
    height: 150px;
    width: 100%;
    font-size: 20px;
}

.article-text-place {
    resize: none;
    height: 500px;
    width: 100%;
    font-size: 16px;
}

.article-like-btn {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: black;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 50px;
    height: 25px;
    border: 1.5px solid #4a93d9;
    background-color: #fff;
    border-radius: 30px;
    user-select: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.article-like-btn:hover {
    color: #fff;
    background-color: #4a93d9;
}

.article-like-btn:active {
    background-color: #3267a7;
    border-color: #3267a7;
}

.comment-like-btn {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: black;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    width: 40px;
    height: 20px;
    border: 1.5px solid #4a93d9;
    background-color: #fff;
    border-radius: 30px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.comment-liked-btn {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    width: 40px;
    height: 20px;
    border: 1px solid #4a93d9;
    background-color: #4a93d9;
    border-radius: 30px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.comment-liked-btn:active {
    background-color: #3267a7;
    border-color: #3267a7;
}

.comment-like-btn:hover {
    color: #fff;
    background-color: #4a93d9;
}

.comment-like-btn:active {
    background-color: #3267a7;
    border-color: #3267a7;
}

.comment-dislike-btn {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: black;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    width: 40px;
    height: 20px;
    border: 1.5px solid #c72323;
    background-color: #fff;
    border-radius: 30px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.comment-disliked-btn {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    width: 40px;
    height: 20px;
    border: 1px solid #c72323;
    background-color: #c72323;
    border-radius: 30px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.comment-disliked-btn:active {
    background-color: #8b1f28;
    border-color: #8b1f28;
}

.comment-dislike-btn:hover {
    color: #fff;
    background-color: #c72323;
}

.comment-dislike-btn:active {
    background-color: #8b1f28;
    border-color: #8b1f28;
}

.submit-btn {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: black;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 100px;
    height: 35px;
    border: 2px solid #4a93d9;
    background-color: #fff;
    border-radius: 10px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.submit-btn:hover {
    color: #fff;
    background-color: #4a93d9;
}

.submit-btn:active {
    background-color: #3267a7;
    border-color: #3267a7;
}

.article-dislike-btn {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: black;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 50px;
    height: 25px;
    border: 1.5px solid #c72323;
    background-color: #fff;
    border-radius: 30px;
    user-select: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.article-dislike-btn:hover {
    color: #fff;
    background-color: #c72323;
}

.article-dislike-btn:active {
    background-color: #8b1f28;
    border-color: #8b1f28;
}

.article-liked-btn {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 50px;
    height: 25px;
    border: 2px solid #4a93d9;
    background-color: #4a93d9;
    border-radius: 30px;
    user-select: none;
}

.article-liked-btn:active {
    background-color: #3267a7;
    border-color: #3267a7;
}

.article-disliked-btn {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 50px;
    height: 25px;
    border: 2px solid #c72323;
    background-color: #c72323;
    border-radius: 30px;
    user-select: none;
}

.article-disliked-btn:active {
    background-color: #8b1f28;
    border-color: #8b1f28;
}

.articles-list {
    border-radius: 15px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
    word-wrap: break-word;
}

.art-title-brd {
    border-radius: 15px;
    padding-top: 50px;
    word-wrap: break-word;
}

.article-list-text {
    height: 140px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.art-text-brd {
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #909090;
    border-radius: 15px;
}

.art-info {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #909090;
    border-radius: 15px;
    color: #6a6a6a;
    padding-left: 5px;
}

.art-btns {
    height: 20px;
    border-bottom: 1px solid #909090;
    border-radius: 15px;
}

.page-btn {
    font-size: 25px;
}

.page-btn:hover {
    color: #4d9cff;
}

.article-title-link {
    font-size: 30px;
    transition: 0.3s;
}

.article-title-link:hover {
    color: #a7c8ff;
}


.custom-select {
    position: relative;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: #4a93d9;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #4a93d9;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}




