.comment-tbl {
    table-layout: fixed;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
    background: #8664b5;
    color: #fff;
    width: 100%;
}

.news-header {
    margin-left: 100px;
    position: fixed;
    font-size: 50px;
    color: #000;
    transition: 0.15s;
}

.news-header:hover {
    color: #a7c8ff;

}

.create-article-tbl {
    border: black;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.article-list-tbl {
    table-layout: fixed;
    border: black;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 20px;
    text-overflow: ellipsis;
}

.article-tbl {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 40px;
}

.create-author-tbl {
    border: black;
}

a {
    text-decoration: none;
}

body {
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
}

p {
    color: #000;
}

.delete-btn {
    color: #666666;
    transition: 0.15s;
}

.delete-btn:hover {
    color: red;
}

.update-btn {
    color: #666666;
    transition: 0.15s;
}

.update-btn:hover {
    color: blue;
}

.title-link {
    transition: 0.15s;
    height: 90px;
    overflow: hidden;
}

.title-link:hover {
    color: #a256ab;
}

.comment-text-place {
    height: 165px;
    resize: none;
    width: 100%;
    color: #000;
}

.article-title-place {
    resize: none;
    height: 50px;
    width: 100%;
}

.article-text-place {
    resize: none;
    height: 500px;
    width: 100%;
}

.article-like-btn {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: black;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 60px;
    height: 30px;
    border: 2px solid #9a80bb;
    background-color: #fff;
    border-radius: 30px;
    user-select: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.article-like-btn:hover {
    color: #fff;
    background-color: #9a80bb;
}

.article-like-btn:active {
    background-color: #6c5a8a;
    border-color: #6c5a8a;
}

.comment-like-btn {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: black;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    width: 45px;
    height: 20px;
    border: 2px solid #9a80bb;
    background-color: #fff;
    border-radius: 30px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.comment-liked-btn {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    width: 45px;
    height: 20px;
    border: 2px solid #9a80bb;
    background-color: #9a80bb;
    border-radius: 30px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.comment-liked-btn:active {
    background-color: #6c5a8a;
    border-color: #6c5a8a;
}

.comment-like-btn:hover {
    color: #fff;
    background-color: #9a80bb;
}

.comment-like-btn:active {
    background-color: #6c5a8a;
    border-color: #6c5a8a;
}

.comment-dislike-btn {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: black;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    width: 45px;
    height: 20px;
    border: 2px solid #bb545f;
    background-color: #fff;
    border-radius: 30px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.comment-disliked-btn {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    width: 45px;
    height: 20px;
    border: 2px solid #bb545f;
    background-color: #bb545f;
    border-radius: 30px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.comment-disliked-btn:active {
    background-color: #791d25;
    border-color: #791d25;
}

.comment-dislike-btn:hover {
    color: #fff;
    background-color: #bb545f;
}

.comment-dislike-btn:active {
    background-color: #791d25;
    border-color: #791d25;
}

.submit-btn {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: black;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 100px;
    height: 35px;
    border: 2px solid #9a80bb;
    background-color: #fff;
    border-radius: 10px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.submit-btn:hover {
    color: #fff;
    background-color: #9a80bb;
}

.submit-btn:active {
    background-color: #6c5a8a;
    border-color: #6c5a8a;
}

.article-dislike-btn {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: black;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 60px;
    height: 30px;
    border: 2px solid #d52229;
    background-color: #fff;
    border-radius: 30px;
    user-select: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;
}

.article-dislike-btn:hover {
    color: #fff;
    background-color: #d52229;
}

.article-dislike-btn:active {
    background-color: #791d25;
    border-color: #791d25;
}

.article-liked-btn {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 60px;
    height: 30px;
    border: 2px solid #9a80bb;
    background-color: #9a80bb;
    border-radius: 30px;
    user-select: none;
}

.article-liked-btn:active {
    background-color: #6c5a8a;
    border-color: #6c5a8a;
}

.article-disliked-btn {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    width: 60px;
    height: 30px;
    border: 2px solid #d52229;
    background-color: #d52229;
    border-radius: 30px;
    user-select: none;
}

.article-disliked-btn:active {
    background-color: #791d25;
    border-color: #791d25;
}

.articles-list {
    border-radius: 15px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
}

.art-title-brd {
    border-radius: 15px;
    padding-top: 50px;
}

.article-list-text {
    height: 140px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.art-text-brd {
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #909090;
    border-radius: 15px;
}

.art-info {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #909090;
    border-radius: 15px;
    color: #6a6a6a;
    padding-left: 5px;
}

.art-btns {
    height: 20px;
    border-bottom: 1px solid #909090;
    border-radius: 15px;
}

.page-btn {
    font-size: 25px;
}

.page-btn:hover {
    color: #4d9cff;
}

.article-title-link {
    font-size: 30px;
    transition: 0.3s;
}

.article-title-link:hover {
    color: #a7c8ff;
}





